<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="./common.css">
</head>
<body data-image-theme="{{imageTheme}}" data-color-mode="{{colorMode}}">
  <div class="card">
    <div class="card-header">
      <div>
        <div class="title">🔥 {{title}}</div>
        <div class="subtitle">{{subtitle}}</div>
      </div>
    </div>
    <div class="card-body">
      {{items_html}}
    </div>
    <div class="card-footer">{{footer}}</div>
  </div>
</body>
</html>
